.grid-container {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.grid-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50px;
    flex-direction: column;
    flex-flow:nowrap;
    height: 50px;
    width: 50px;
}

.my-color-class {
    background-color: black;
}